* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* .logo-container */
.logo-container {
    display: flex;
    padding: 10px;
    align-items: center;
    color: rgb(10, 40, 40);
}

/* .logo inside .logo-container */
.logo {
    display: flex;
    background-color: rgb(82, 80, 80);
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
    border-radius: 50px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

/* .logo-text inside .logo-container */
.logo-text {
    flex: 1;
    font-weight: 500;
}

nav {
    display: flex;
}

/* ul inside nav */
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

/* li inside ul */
nav ul li {
    display: inline-block;
}

/* a inside li */
nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(45, 43, 43);
}

/* hamburger menu */
.hamburger-menu{
    display: none;
    color: black;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* Hero Section */

.hero-section {
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
}

.hero-text {
    background-color: rgba(9, 198, 231, 0.2);
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
    transition: ease 0.3s all;
}

.button:hover {
    background-color: black;
}

.call-to-action {
    margin: 20px 0;
}

.social-links a{
    margin-right: 20px;
    margin-bottom: 10px;
}

.hero-img {
    padding: 0 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: rgba(225, 247, 27, 0.219);
}

.hero-img img {
    width: 400px;
    border-radius: 50px;
}

.social-links img {
    width: 50px;
}

.left-column img {
    width: 350px;
    height: 150px;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .hero-section {
        padding: 0 30px;
        flex-direction: column;
    }

    .hero-text h1{
        font-size: 48px;
    }

    
}

@media (max-width: 760px){
    
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 10px;
        width: 100%;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
    }

    nav ul.active {
        display: flex;
        
    }

    .hamburger-menu{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hero-text span {
        display: none;
    }

}

